@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating {
    display: inline-block;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ffcc00;
    cursor: pointer;
}


.star-rating input:checked ~ input + label {
    color: #ddd;
}

.star-rating input:checked ~ input + label:hover {
    color: #f5e397;
}

@layer components {
    .alert {
        @apply rounded-md p-4 w-full;
    }
    .alert-success {
        @apply bg-green-200 text-green-900;
    }
    .alert-error {
        @apply bg-red-200 text-red-900;
    }
    .title-1 {
        @apply font-semibold text-5xl text-gray-800 dark:text-gray-200 leading-tight;
    }
    .title-2 {
        @apply font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight;
    }
    .button {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
    }
}
